body {
    background-image: linear-gradient(to right, #008AE0, #242F36) ;
    background-attachment: fixed;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 70% 10%;
}

.banner-title {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

.banner-title > h1 {
    font-size: 4rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 0;
    letter-spacing: 6px;
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 3s steps(40, end)
}

.banner-title a {
    text-decoration: none;
    color: #2B3033;
}

.banner-links {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}
/*
.links {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
}
   

.link-content {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 140px;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
}

.links a {
    color: white;
    text-decoration: none;
}

.resume {
    animation: fadeInAnimation ease 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

.projects {
    animation: fadeInAnimation ease 1s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

.about {
    animation: fadeInAnimation ease 1s;
    animation-delay: 5s;
    animation-fill-mode: both;    
}

.contact {
    animation: fadeInAnimation ease 1s;
    animation-delay: 6s;
    animation-fill-mode: both;
}

.resume > a, .projects > a, .about > a, .contact > a {
    color: white;
    text-decoration: none;
}

.img-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    pointer-events: none;
    visibility: hidden;
    width: 0;
    height: 0;
}
*/

.image-icon {
    width: 50px;
}

.btn-secondary {
    background-color: #2B3033;
}
.photo-base {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    
}

.info-base {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 75px;
    animation: fadeInAnimation ease 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.info-base > ul {
    margin-left: 30px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    list-style: none;
    padding-top: 20%;
}

.info-base a {
    color: white;
    text-decoration: none;
}

.info-base > h2, .info-base > p {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin-top: 50px;
    margin-left: 65px;
    letter-spacing: 3px;
}

h2 {
    animation: fadeInAnimation ease 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

p {
   animation: fadeInAnimation ease 1s;
   animation-delay: 2s;
   animation-fill-mode: both;
}

img {
    animation: fadeInAnimation ease 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.footer {
    display: flex;
    align-items: center;
}

footer {
    padding-left: 65px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

  @media screen and (max-width: 1100px) {
    
    .banner-title {
        display: flex;
        height: 100px;
        width: 100%;
        align-items: flex-end;
    }

    .banner-links {
        height: 100px;
    }
    
    .banner-title > h1 {
        font-size: 3rem;
        margin-left: 10%;
    }
    
    
    .link-content {
        font-size: .75rem;
        padding-left: 0%;
    }

    .img-btn {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        pointer-events: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }


    .info-base {
       grid-column: span 2;
       width: 75%;
    }

    .info-base > h2, .info-base > p {
        font-size: .75rem;
    }

    .photo-base {
        order: 1;
        visibility: hidden;
        height: 0;
        width: 0;
     }

     .main-img {
        height: 0;
        width: 0;
     }
  }

  @media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        width: 100vw;
        grid-template-columns: 80% 20%;
        grid-template-rows: 20% 70% 10%;
    }
    
    .banner-title {
        display: flex;
        height: 100px;
        width: 100%;
        align-items: flex-end;
    }

    .banner-links {
        height: 100px;
    }
    
    .banner-title > h1 {
        font-size: 2rem;
        margin-left: 5%;
    }

    .link-content {
        display: block;
        list-style: none;
        position: absolute;
        top: 0%;
        left: 70%;
        width: 30%;
        visibility: hidden;
        overflow: hidden;
    }
    
    .img-btn {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        pointer-events: auto;
        pointer: course;
        visibility: visible;
        height: 50px; 
        width: 100px;
    }
    
    .img-btn:hover {
        background-color: #2B3033;
    }
    
    .img-btn:focus + .link-content {
        visibility: visible;
    }
    
    .img-btn:focus + .link-content li{
        visibility: visible;
        left: 0;
    }
    
    .img-btn > img {
        width: 20px; 
        height: 20px;
    }

    .arrow {
        width: 30px;
    }
    
    .link-content li {
        background: rgba(0, 0, 0, 0);
        border-radius: 0.5em;
        position: relative;
        left: 100%;
        transition: 0.5s;
      }
    
    .link-content li:hover {
        background: #2B3033;
      }
    
    .link-content li a {
        display: block;
        padding: 0.7em 0.5em;
        margin: 0.1em 0;
        text-decoration: none;
      }

    .resume {
        animation: none;
    }
    
    .projects {
        animation: none;
    }
    
    .about {
        animation: none;   
    }
    
    .contact {
        animation: none;
    }


    .info-base {
       grid-column: span 2;
       width: 75%;
    }

    .info-base > h2, .info-base > p {
        font-size: .75rem;
    }

    .photo-base {
        order: 1;
        visibility: hidden;
        height: 0;
        width: 0;
     }

     .main-img {
        height: 0;
        width: 0;
     }
  }

